# 12/08/2024

In [ ]:
# this screen is called cell

In [3]:
print("Hello")

Hello

# Basic features :-

# easy to use ,
# simple syntax ,
# high level lang - english like ,
# open source ,
# platform independent ,
# ctrl+A - select all lines , ctrl+/ ,

# Advanced features :-

# Dynamically typed language - no need to define the data type (interpreter khud se samaj jata hai )
# Interpreted - line by line execution of program .
# Rich library support :- foe every work we are having library and inbuilt methods eg. purchasing of books can be gone with l9brary section . eg.2 purchasing grocery from dmart instead of purchasing from shops 
# identation :- by default 4 spaces aligned , no curly braces or semicolon

# numpy-- numerical calculations 
# pandas -- processing ,analysis cleaning.
# matplotlib--graph/plot visualisation
# seaborn -- advance matplotlib -- extra graph and plots
# plotly&cufflink -- 3d graphs and more 
# EDA -- exploratory data analysis

# sckit- learn ML
# Tensorflow,keras--Deeplearning

# int :- eg 1,2,3,3,4 etc 
# float :- eg 4.5 , 6.9 
# str :- 'hi' , 'bt'

In [10]:
x = 4
y = 5
#x+y

In [12]:
type(x)

int

# integer ko integer se hi add hoga 
# integer aur float add nhi hoga

In [14]:
x = "5.9"
y = 12 
x+y

TypeError: can only concatenate str (not "int") to str

In [16]:
x

'5.9'

In [18]:
print(y)

12

In [20]:
y*3

36

In [1]:
import numpy as np

In [5]:
x=(22,23,23,34,56,67,78)

In [7]:
np.mean(x)

43.285714285714285

# jab apan pandas ya np use karte tab apne ko dhyaan dena hai ki woh thik se define rahe 
# Reason of error jo sir ko poocha tha woh isliye tha kyoki apan ne x thik se define na karta hue apan np ka result expect kar rhe the .

# example 1 and 2 written down :-

In [11]:
y=(23,34,56,78,90)

In [ ]:
# numpy pandas ye sab library hai

In [14]:
import numpy as np

In [16]:
np.median(y)

56.0

In [34]:
import numpy as np

In [38]:
x=(1,2,3,4,5,6,7,8,9)

In [43]:
np.mean(x)

5.0

In [1]:
x=(1,2,3,4,5,6,7,8,9)

In [3]:
import numpy as np

In [5]:
np.mean(x)

5.0

# how to copy whole data form website and paste into the jupyter notebook

In [ ]:
it