In [1]:
# python.org --> downloads -> depending on OS download and install.

In [2]:
# written after hashtag is a comment, this will not be read by python

In [3]:
# whatever is written is never read by python

In [4]:
# ipynb -> intractive python notebook, py -> python file extension

In [5]:
# print() -> this is built-in func given by python, 
# prints stream of output, variables

In [6]:
# execute a cell --> shift + enter

In [7]:
print('hello world')  # Quotation is for strings, any char given inside quotation is treated as strings

hello world

In [8]:
# Variables: These are labels/container to store a value and can used any where when it is called

In [9]:
age = 34  # age -> variable , = -> assignment operator, 34 -> integer(numberic) value

In [10]:
print(age)

34

In [11]:
# print, string and variable
print('The age is', age)

The age is 34

In [12]:
name = 'Python'
print('The name is', name)  # The name is Python

The name is Python

In [13]:
print('The name is ' + name)  # concatenation (adding two or more strings)

The name is Python

In [14]:
print(name * 3)  # repeatation of variables

PythonPythonPython

In [15]:
print('Please repeat this ' * 4)

Please repeat this Please repeat this Please repeat this Please repeat this

In [16]:
# functionality of print -> end, sep
# \n -> new line, this is an escape char
print('Hello this is first line')
print('Hello this is second line')

Hello this is first line
Hello this is second line

In [17]:
print('Hello this is first line', end=' ')  # '' -> this is an empty string
print('Hello this is second line')

Hello this is first line Hello this is second line

In [18]:
# end -> this is parameter, already present in print, to add a new line as default
print('Hello', end='_')
print('World')

Hello_World

In [19]:
# sep -> this is a separator for each values/strings in print
print('hello', 'world', sep='--')

hello--world

In [20]:
print(name, age, sep='-->')

Python-->34

In [21]:
print('This is separator', 'we are learning in python', sep='_')  # This is separator_we are learning in python

This is separator_we are learning in python

In [22]:
# User input -> any information/ data/ value given by user
# user -> the person who is using our code
# input() function is used to take user input.

In [23]:
input()

 Python

'Python'

In [24]:
day = input()  # day is initialized/collect with user input

 Python

In [25]:
print(day)

Python

In [26]:
day = input('Enter todays day')  # Taking a custom input with a custom message

Enter todays day Sunday

In [27]:
print(day)

Sunday

In [28]:
# Arithmetic operators

In [29]:
number1 = 12
number2 = 23
print(number1 + number2) # adding two numeric values, it is addition 
# + -> addition operator

35

In [30]:
print(number2 - number1)  # subtraction two numeric values, it is subtraction

11

In [31]:
print(number1 * number2)  # multiplication operator

276

In [32]:
print(number2 / 2)  # division operator, qoutent

11.5

In [33]:
print(number2 % 2)  # modulo, remainder

1

In [34]:
print(number1**2)  # exponent, power
print(55**2)
print(55**3)

144
3025
166375

In [35]:
print(number1/2)

6.0

In [36]:
print(number1//2)  # floor division
# flooring value -> the lowest whole number from the decimal value

6

In [37]:
print(113/7)

16.142857142857142

In [38]:
# 16....... 16.142857142857142.... 17
print(113//7)

16

In [39]:
# Assignment operator 
# = -> assignment operator

In [40]:
value = 50

In [41]:
value = value - 5 
print(value)

45

In [42]:
value -= 5  # value = value - 5  # subtract and assignment
print(value)

40

In [43]:
value *= 2  # value = value * 2
print(value)

80

In [44]:
value /= 4  # value = value / 4
print(value)

20.0

In [45]:
value **= 2  # value = value**2
print(value)

400.0

In [46]:
value //= 3 # value = value // 3
print(value)  # 133

133.0

In [47]:
# comparison operator -> to compare two values -> everytime it will return you a boolean value(True, False)
# less than <, greater than >, less than equals <=, greater than equals >=
# == equal to, != not equal to

In [48]:
age1 = 24
age2 = 55

print(age1 < age2) # 24 < 55

True

In [49]:
print(age1 > age2) # 24 > 55

False

In [50]:
print(age1 == age2)

False

In [51]:
print(age1 != age2)  # 24 != 55

True

In [52]:
print(44 <= 44) # equals here

True

In [53]:
print(44 < 44)  # no equals here

False

In [54]:
print(age1 >= age2)

False

In [55]:
print(55 >= age2)  # 55 >= 55

True

In [56]:
# Logical operator -> and, or, not
# note: logical works with boolean

In [57]:
print(44 < 55)

True

In [58]:
print(66 > 56)

True

In [59]:
print(44 < 55 and 66 > 56)

True

In [60]:
print(True and True)  # True
print(True and False) # False
print(False and True) # False
print(False and False) # False

True
False
False
False

In [61]:
print(44 < 55 or 66 > 56)  # True or True -> True

True

In [62]:
print(True or True)  # True
print(True or False) # True
print(False or True) # True
print(False or False) # False

True
True
True
False

In [63]:
print(not True)

False

In [64]:
print(not False)

True

In [65]:
print(not 78 > 100)  # True

True

In [66]:
# Identity operator -> checks identity/object
# is, is not -> return boolean

In [67]:
num1 = 1
num2 = 2
print(num1 is num2) # bcoz this are different objects

False

In [68]:
num1 = 1
num2 = 1
print(num1 is num2) # bcoz these are same objects

True

In [69]:
# to help with objects we will use id() function 
# id() -> returns the address of each variable stored in memory

In [70]:
num1 = 1
num2 = 2
print(num1 is num2) # bcoz this are different objects and different address
print(id(num1), id(num2))

False
140713104914872 140713104914904

In [71]:
num1 = 1
num2 = 1
print(num1 is num2) # bcoz these are same objects and same address
print(id(num1), id(num2))

True
140713104914872 140713104914872

In [72]:
num1 = 1
num2 = 1
print(num1 is not num2) # bcoz these are same objects

False

In [73]:
# Membership operator -> in, not in -> boolean everytime
name = 'Python'
print('P' in name)

True

In [74]:
print('p' in name)

False

In [75]:
print('p' not in name) # True

True

In [76]:
print('Py' in name)

True

In [77]:
# Data types

In [78]:
# numeric data type -> (int, float, complex)

In [79]:
# Integer data type
number1 = 100 # integer/ whole number
number2 = -9  # -ve int
number3 = 0  # zero int

In [80]:
# type() -> this helps to verify the datatype
type(number1)

int

In [81]:
type(number2)

int

In [82]:
type(number3)

int

In [83]:
# floating data type (decimal values)
number4 = 12.67886
number5 = -6.5669

In [84]:
type(number4)

float

In [85]:
type(number5)

float

In [86]:
# complex data type (real + img)

In [87]:
number6 = 78 + 6j # j/J is used to denote the imaginary part
number7 = 100 + 88J  # real -> 100, img -> 88J

In [88]:
type(number6)

complex

In [89]:
type(number7)

complex

In [90]:
# Type conversion -> converting one data type to another

In [91]:
num = 100  # from int to float
print(type(num))
num = float(num)  #  using float() we are converting the int to float
print(num)
print(type(num))

<class 'int'>
100.0
<class 'float'>

In [92]:
num = 12.3
print(type(num))

<class 'float'>

In [93]:
# float to int
num = int(num)
print(type(num))

<class 'int'>

In [94]:
# float to complex
num = 12.001
num = complex(num)  # using complex we are converting to complex from float
print(num)

(12.001+0j)

In [95]:
print(type(num))

<class 'complex'>

In [96]:
# complex to float - > cannot convert complex to float or int
num = 889 + 6j
# num = float(num)

In [97]:
# String 
#4.05pm -- Resume after short break

In [98]:
# sequences of char, series of char which are enclosed in quotation.
my_string = 'hello'  # single quote
my_string2 = "Hello"  # double quote
my_string3 = '''Hello''' # triple single quote
my_string4 = """Hello""" # triple double quote

In [99]:
print(type(my_string))
print(type(my_string2))
print(type(my_string3))
print(type(my_string4))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [100]:
# difference of single quote, double quote vs triple single/double

In [101]:
# triple quotes are used for multiple lines
var = '''Hello
this 
is 
multiple 
lines'''

In [102]:
print(var)

Hello
this
is
multiple
lines

In [103]:
var2 = 'Hello
this
is 
next 
line'  # error, python is expecting to complete the quotes in same line
# if it is starting with single quote

SyntaxError: unterminated string literal (detected at line 1) (2091335542.py, line 1)

In [144]:
# indexing -> taking each char from a string
# where each char is having an index number

In [146]:
data = 'Hello world' # indexing starts with 0

In [148]:
print(data[0])

H

In [150]:
print(data[6])

w

In [152]:
# len() -> to find out length of chars in string or iterable 
print(len(data))

11

In [154]:
# slicing -> fetching multiple values 
# [start: end+1: step]

In [156]:
print(data[0:7])

Hello w

In [158]:
print(data[7:]) # from 7 till last

orld

In [160]:
print(data[:])  # all chars are returned

Hello world

In [161]:
print(data[:8]) # give me data till 8 char from begining

Hello wo

In [162]:
print(data[::2]) # takes all char skipping the 2nd char

Hlowrd

In [163]:
# Hello world -> Hlowrd

In [165]:
print(data[1:8:3]) # -> eoo  # starting from 1 till 8th char skipping 2,3 char

eoo

In [167]:
# methods
var = 'python'
print(var.capitalize())

Python

In [170]:
print(var.upper())

PYTHON

In [173]:
print(var.center(50, '*'))

**********************python**********************

In [175]:
print(var.islower())

True

In [178]:
# reverse a string
var[::-1]

'nohtyp'

In [180]:
# tuple -> denoted by (), indexed, order, immutable
# immutable -> once created cannot be changed, these donot allow item assgn

In [182]:
names = ('abc', 'efg', 'ijk')
print(len(names))
print(type(names))

3
<class 'tuple'>

In [184]:
names[0]

'abc'

In [ ]:
names[0] = 'python'

In [ ]:
var = 'strings'
var[0] = 'S'
# strings are as well immutable items

In [ ]:
names.count('abc')

In [ ]:
names = ('abc', 'efg', 'ijk', 'abc', 'abc')
names.count('abc')

In [ ]:
names.index('efg')

In [ ]:
names.index('abc') # though we have multiple same value, everytime first occurance will be given

In [ ]:
# List -> ordered, indexed, mutable
# denoted -> []

In [ ]:
names = ['abc', 'efg', 'ijk']
print(type(names))

In [ ]:
print(names[0])

In [ ]:
names[0] = 'Python'  # item assignment is possible hence this is mutable

In [ ]:
print(names)

In [ ]:
# methods of list
names.append(100) # add items to the end of list

In [ ]:
print(names)

In [ ]:
names.extend([1, 2, 3])

In [ ]:
print(names)

In [ ]:
names.insert(3,  'new data')

In [ ]:
print(names)

In [ ]:
names.clear() #del all values

In [ ]:
print(names) # empty list

In [ ]:
# set -> {}, not ordered, no index, no duplicates are allowed
set1 = {1, 2, 3, 4, 1, 4, 5, 2, 5}

In [ ]:
print(len(set1))

In [ ]:
print(set1)

In [ ]:
set1[0] # Error because no index and unordered

In [ ]:
set1.add(1000)

In [ ]:
print(set1)

In [ ]:
set1.add(10000)

In [ ]:
set1

In [ ]:
# dictionary -> key:value pair, key-> immutable, value -> mutable/immutable

In [ ]:
# -> {:}
dict1 = {'name':'abd',
         'age': 12,
         'dept': 'AI'}

In [ ]:
print(len(dict1))
print(type(dict1))

In [ ]:
dict1[0]

In [ ]:
# values can be fetched using key
dict1['name']

In [ ]:
dict1['age']

In [ ]:
dict1['dept']

In [ ]:
dict1['dept'] = 'DS' # updates the data

In [ ]:
dict1

In [ ]:
# methods of dict

In [ ]:
dict1.items()

In [ ]:
dict1.values()

In [ ]:
dict1.keys()

In [ ]:
dict1.update({'roll':123})

In [ ]:
dict1

In [ ]:
# Flow control -> conditional statements, loops

In [ ]:
# if, elif, else
age = 24
if age < 18:  # 24 < 18 -> false
    print('minor')  # indentation-> 4 spaces
else:
    print('adult')

In [ ]:
# if, elif, else
age = 10
if age < 18:  # 10 < 18 -> True
    print('minor')  # 
else:
    print('adult')

In [ ]:
# if, elif, else
age = 18
if age == 18:  # 18 == 18 -> True
    print('eighteen')  #
elif age < 18:
    print('minor')
else:
    print('adult')

In [ ]:
# if, elif, else
age = 10
if age == 18:  # 18 == 18 -> True
    print('eighteen')  #
elif age < 18:
    print('minor')
else:
    print('adult')

In [ ]:
# if, elif, else
age = 30
if age == 18:   # takes condn
    print('eighteen')
elif age < 18:  # takes condn
    print('minor')
else:           # doesnt take condn
    print('adult')

In [ ]:
# for loop -> repeation of some block of code
# syntax
# for iter in iterable:
#     body of for
#     body of for
#     body of for

In [ ]:
# iterable -> countable elements(string,list,tuple) with index or without index(dict)

In [ ]:
for each in 'hello': # each = o
    print(each)
# loop terminates after the last item.

In [ ]:
# range() -> use to take a range of values with starting till end+1

In [ ]:
list(range(1, 10)) # using list() -> converting existing range to list

In [ ]:
tuple(range(1, 100))

In [ ]:
for each in range(1, 11):
    print(each)

In [ ]:
for i in range(21, 35):
    print(i)

In [ ]:
# print all even values from 1 till 100 using for and if

In [ ]:
# [2, 4, 6, .... 100]

In [ ]:
# for iter in iterable:
# .......
# .......
# .......

# if condn:
# .....
# elif condn:
# .....
# else:
# ....

In [ ]:
# print all even values from 1 till 100 using for and if 
for each in range(1, 101):
    if each % 2 == 0:  # 2 % 2 -> 0, 0 == 0 -> True
        print(each)
# if can exist independely

In [ ]:
# while -> works on condition
# syntax
# while condn:
#....
#....
# note: while condition should be false at certain point of time

In [ ]:
while True:
    print('hello')
# this is an infinite loop

In [ ]:
number = 0 
while number < 10: # 10<10 -> False
    print(number)
    number += 1  # this line is making the condition false in while condition

In [ ]:
0
1
.
.
.